

<div class="main-panel" [class.side-opened]="closeSideMenu || enterSideMenu" 
  [class.p-0]="!page.isPageLoaded" >
  <loading *ngIf="!page.isPageLoaded" title="{{'shared.loading'|translate}}" [inline]="false"
  desc="{{'shared.loading-describ'|translate}}"></loading>
  <ng-container *ngIf="page.isPageLoaded">
    <div class="nav-bar navbar-light fixed-top no-print">
      <div class="container-fluid d-flex align-items-center px-0">
        <div class="d-flex align-items-center px-3 py-1 w-100">
          <div>
            <img src="assets/icon/align-justify.svg" class="rect-24 pointer d-sm-none"
              (click)="closeOrOpenSideMenu(!closeSideMenu)" >
          </div>
          <div class="d-flex align-items-center ms-auto mx-2">
          </div>
          <div class="d-flex align-items-center mx-1">
            <div class="dropdown pointer ">
              <div class="d-flex" id="dropdownMenuLang" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="uil uil-globe font-20 li-h1"></i>
                <span class="selected-language mx-1  d-none d-md-block">{{language.Name}}</span>
                <i class="uil uil-angle-down"></i>
              </div>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLang">
                <li role="button pointer" *ngFor="let item of languageList ;let i = index ">
                  <a class="dropdown-item" (click)="changeLanguage(i)">{{item.Name}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="d-flex align-items-center p-2 mx-1 user-nav text-truncate">
            <div class="dropdown d-flex align-items-center text-truncate" id="dropdownMenuUser" 
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src="assets/img/profile-picturer.png" class="rect-24 circle me-2" >
              <div class="user-info text-truncate">
                <p class="font-14 c-33 text-truncate">Mostafa Farrag</p>
              </div>
            </div>
        
          </div>
        </div>
      </div>
    </div>
    <side-menu (closeOrOpenSideMenu)="closeOrOpenSideMenu($event)" (enterLeaveSideMenu)="enterLeaveSideMenu($event)">
    </side-menu>
    <div class="main-page" (click)="closeOrOpenSideMenu(false)">
      <router-outlet></router-outlet>
    </div>
  </ng-container>
</div>