<section [formGroup]="form">
  <fieldset [class]="'p-0 form-group ' + formClass" [class.has-error]="isControlNotValidAndTouched()">
      <!--------------------------------- label -------------------------------------->

    <ng-container *ngIf="type!=controlType.RADIO">
      <ng-container *ngTemplateOutlet="labelTemplate"></ng-container >
    </ng-container>
      <!--------------------------------- container end placeholder -------------------------------------->

    <p [class]="'rb-p-xs c-g500 mb-2 mt-0' + descClass" *ngIf="desc!=''">{{desc}}</p>
    <div [class]="inputPlaceholderClass"  [class.floating-placholder]="endPlacholder!='' || startPlaceholder!=''"
      [class.start-placholder]="startPlaceholder!=''" [class.select]="type==controlType.SELECT"
      [class.disabled]="isDisabled()" [attr.data-endPlaceholder]="endPlacholder"
      [attr.data-startPlaceholder]="startPlaceholder">
      <!--------------------------------- input text -------------------------------------->
      <input *ngIf="type==controlType.INPUT_TEXT" type="text" [class]="'form-control ' + inputClass"
        placeholder="{{placeholder | translate}}" [formControlName]="control" (blur)="onblur()"
        (keyup)="onKeyup($event)" (change)="onChange($event)" [readonly]="readOnly">
      <!--------------------------------- input number -------------------------------------->
      <input [class]="'form-control ' + inputClass" type="number" placeholder="{{placeholder | translate}}"
        [formControlName]="control" *ngIf=" type==controlType.INPUT_NUMBER" (blur)="onblur()" (keyup)="onKeyup($event)"
        (change)="onChange($event)">
      <!--------------------------------- input password -------------------------------------->
      <input [class]="'form-control ' + inputClass" type="password" placeholder="{{placeholder | translate}}"
        [formControlName]="control" *ngIf=" type==controlType.PASSWORD" (blur)="onblur()" (keyup)="onKeyup($event)"
        (change)="onChange($event)">
      <!--------------------------------- input date -------------------------------------->
      <input [class]="'form-control ' + inputClass" type="text" [formControlName]="control" bsDatepicker
        *ngIf="type==controlType.INPUT_DATE" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }" [minDate]="minDate"
        (keyup)="onKeyup($event)" (change)="onChange($event)">
      <!--------------------------------- input time -------------------------------------->
      <input [class]="'form-control ' + inputClass" type="time" [formControlName]="control"
        *ngIf="type==controlType.INPUT_TIME">
      <!--------------------------------- input select -------------------------------------->
      <ng-select class="form-control" [ngClass]="inputClass" (change)="onChange($event)" [items]="items"
        [bindLabel]="bindLabel" [bindValue]="bindValue" appendTo="body" [formControlName]="control"
        placeholder="{{placeholder |translate}}" *ngIf="type==controlType.SELECT" [clearable]="clearable">
      </ng-select>
    </div>
    <!--------------------------------- input checkbox -------------------------------------->
    <div class="form-check pl-unset mt-1" *ngIf="type==controlType.CHECKBOX">
      <input class="form-check-input reset-float rect-14" type="checkbox" [formControlName]="control">
      <label class="form-check-labelpointer ms-2"> {{'wallet.transaction.set-award'|translate}} </label>
    </div>
    <!--------------------------------- input radio -------------------------------------->
    <div class="form-check" *ngIf="type==controlType.RADIO">
      <input class="form-check-input" type="radio" [value]="value" [formControlName]="control">
      <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
    </div>
    
    <div class="text text-danger" *ngIf="isControlNotValidAndDirty()">
      <p class="mb-0 font-12" *ngIf="isControlHasError('required')">
        {{'shared.validation.required'|translate}}</p>
      <p class="mb-0 font-12" *ngIf="isControlHasError('minlength')">
        {{'shared.validation.min-length'|translate}}</p>
      <p class="mb-0 font-12" *ngIf="isControlHasError('maxlength')">
        {{'shared.validation.max-length'|translate}}</p>
      <p class="mb-0 font-12" *ngIf="isControlHasError('email')">
        {{'shared.validation.email'|translate}}</p>
      <p class="mb-0 font-12" *ngIf="isControlHasError('APIKey')">
        {{'shared.validation.APIKEYLength'|translate}}</p>
      <!-- <p class="mb-0 font-12" *ngIf=" isControlHasError('pattern')">
            {{'shared.validation.only-numbers'|translate}}</p> -->
      <!-- <p class="mb-0 font-12" *ngIf="isControlHasError('pattern')">
            {{'shared.validation.no-numbers'|translate}}</p> -->
      <p class="mb-0 font-12" *ngIf="isMobile() && isControlHasError('pattern')">
        {{'shared.validation.mobile-validation'|translate}}</p>
      <p class="mb-0 font-12" *ngIf="isEmail() && isControlHasError('pattern')">
        {{'shared.validation.email'|translate}}</p>
      <p class="mb-0  font-12" *ngIf="isControlHasError('min')">
        {{'shared.validation.only-positive'|translate}}</p>
      <p class="mb-0 font-12" *ngIf="isNationalID() && isControlHasError('pattern')">
        {{'shared.validation.nationalId-validation'|translate}}</p>
      <p class="mb-0 font-12" *ngIf="isNameAraibic() && isControlHasError('pattern')">
        {{'shared.validation.arabic-validation'|translate}}</p>
    </div>
  </fieldset>
</section>

    <!--------------------------------- label template -------------------------------------->
<ng-template #labelTemplate>
  <label [class]="'d-flex align-items-center '+labelClass" [class.form-check-label]="type==controlType.RADIO"
    for="basicInput" [class.text-danger]="isControlNotValidAndDirty()" *ngIf="label" [class.disabled]="isDisabled()">
    <div [class]="'rect-8 circle my-auto rb-me-12 '+statusColor" *ngIf="statusColor"></div>
    <span [class]="'text c-g500 ms-0 rb-me-12 '+labelIcon" *ngIf="labelIcon"></span>
    <img [src]="labelImg" *ngIf="labelImg" />
    {{label |translate}}
    <span class="text text-danger" *ngIf="validator()">*</span>
    <span class="ms-2 mt-n1" *ngIf="annotationTitle">
      <anotation-config [title]="annotationTitle" [trigger]="trigger"></anotation-config>
    </span>
  </label>
</ng-template>
